* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #005a9c;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
}

button {
  cursor: pointer;
  background-color: #005a9c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #007acc;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
}

.toggle-auth {
  margin-top: 20px; /* Отступ сверху */
  text-align: center; /* Выравнивание текста по центру */
}

.toggle-auth button {
  background-color: #2980b9; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Без границы */
  border-radius: 4px; /* Закругление углов */
  padding: 10px 15px; /* Внутренние отступы */
  cursor: pointer; /* Указатель при наведении */
}

.toggle-auth button:hover {
  background-color: #3498db; /* Цвет кнопки при наведении */
}